/*
font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
 */
body {
  font-family: "Montserrat", sans-serif;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.no-transfer {
  white-space: nowrap;
}

.element-animation {
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__icon {
  padding: calc(15px + 11 * (100vw - 320px) / 1120) 0 calc(15px + 11 * (100vw - 320px) / 1120) calc(15px + 75 * (100vw - 320px) / 1120);
}
.header__icon img {
  width: calc(144px + 62 * (100vw - 320px) / 1120);
}

.nav {
  /*  padding: rem(63) 0;*/
  padding: calc(15px + 48 * (100vw - 320px) / 1120) 0;
  display: flex;
  align-items: center;
}

.nav__navbar {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #252B42;
}
.nav__navbar li {
  /*    padding: 0 rem(52);*/
  padding: 0 calc(15px + 37 * (100vw - 320px) / 1120);
}
.nav__navbar li a:focus {
  color: #FA4A0C;
  outline: none;
}

.welcome {
  height: 618px;
}

.welcome__img-container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/welcome/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome__container {
  color: #fff;
  text-align: center;
  padding: calc(25px + 48 * (100vw - 320px) / 1120) calc(15px + 230 * (100vw - 320px) / 1120);
}

.welcome__text-food_app {
  font-weight: 700;
  color: #F6F6F6;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 7px;
}

.welcome__text-heading {
  font-family: "Poppins", sans-serif;
  line-height: calc(50px + 30 * (100vw - 320px) / 1120);
  font-weight: 700;
  font-size: calc(35px + 23 * (100vw - 320px) / 1120);
}

.welcome__text-download_info {
  line-height: 38px;
  font-size: 24px;
  padding-top: 17px;
  color: #F6F6F6;
  font-weight: 500;
}

.welcome__buttons {
  padding-top: calc(15px + 39 * (100vw - 320px) / 1120);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  gap: calc(14px + 20 * (100vw - 320px) / 1120);
  justify-content: center;
  position: relative;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .welcome__buttons {
    left: 0;
  }
}

.welcome__button-container button {
  color: inherit;
  cursor: pointer;
  padding: 16px 58px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
  transition: 0.1s ease-in;
}
.welcome__button-container button:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in;
}
.welcome__button-container:first-child {
  text-align: end;
}
@media screen and (max-width: 768px) {
  .welcome__button-container:first-child {
    text-align: center;
  }
}
.welcome__button-container:last-child {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .welcome__button-container:last-child {
    text-align: center;
  }
}

.welcome__buttons-playstore {
  background-color: #FA4A0C;
  box-shadow: 0 10px 30px rgba(183, 50, 39, 0.2);
  border: none;
}

.welcome__buttons-appstore {
  outline: 1px solid white;
  background-color: transparent;
  border: none;
  white-space: nowrap;
}

.about-app {
  text-align: center;
  margin-bottom: calc(30px + 101 * (100vw - 320px) / 1120);
}

.mobile-images {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #E4E4E4;
  max-width: 884px;
  padding-bottom: calc(30px + 30 * (100vw - 320px) / 1120);
}
.mobile-images.element-animation {
  transform: translateY(20px);
}
.mobile-images.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%) translateX(0%);
}

.mobile-images__orange-photo {
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
  position: relative;
  bottom: 104px;
  left: 35px;
  z-index: 3;
}

.mobile-images__white-photo {
  position: relative;
  bottom: 50px;
}

.about-app__header {
  margin: calc(30px + 42 * (100vw - 320px) / 1120) 0 calc(20px + 117 * (100vw - 320px) / 1120) 0;
  opacity: 0.8;
  font-size: 44px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.about-app__main {
  display: flex;
  padding-left: calc(15px + 230 * (100vw - 320px) / 1120);
  gap: calc(15px + 156 * (100vw - 320px) / 1120);
}
.about-app__main img {
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}
.about-app__main img.element-show {
  opacity: 1;
  transition: 1.5s ease-in;
}

.about-app__main-create-acc__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 35.0625rem;
}

.about-app__main-create-acc__heading-red {
  color: #FA4A0C;
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
}

.about-app__main-create-acc__heading-black {
  color: #252B42;
  font-weight: 700;
  line-height: 57px;
  font-size: 40px;
  max-width: 49rem;
  padding: 17px 0;
}

.about-app__main-create-acc__description {
  color: #737373;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  max-width: 29rem;
}

.download-app {
  height: 516px;
}

.download-app__img-container {
  height: 100%;
  background-image: linear-gradient(rgba(37, 43, 66, 0.4), rgba(37, 43, 66, 0.4)), url("../../img/download-app/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.download-app__container {
  color: #fff;
  text-align: center;
  padding: calc(25px + 105 * (100vw - 320px) / 1120) calc(15px + 275 * (100vw - 320px) / 1120);
}

.download-app__text-heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  padding-bottom: 10px;
}

.download-app__text-download_info {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
}

.download-app__buttons {
  padding-top: calc(15px + 35 * (100vw - 320px) / 1120);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
  gap: 16px;
  justify-content: center;
  position: relative;
}

.download-app__button-container button {
  color: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.1s ease-in;
}
.download-app__button-container button:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in;
}
.download-app__button-container:first-child {
  text-align: end;
}
@media screen and (max-width: 768px) {
  .download-app__button-container:first-child {
    text-align: center;
  }
}
.download-app__button-container:last-child {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .download-app__button-container:last-child {
    text-align: center;
  }
}

.download-app__buttons-playstore {
  padding: 16px 31px;
  background-color: #FA4A0C;
  box-shadow: 0 10px 30px rgba(183, 50, 39, 0.2);
  border: none;
}

.download-app__buttons-appstore {
  padding: 16px 45px;
  outline: 1px solid white;
  background-color: transparent;
  border: none;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__icon {
  padding: calc(15px + 50 * (100vw - 320px) / 1120) 0 calc(15px + 66 * (100vw - 320px) / 1120) calc(15px + 191 * (100vw - 320px) / 1120);
}

.icons {
  display: flex;
  gap: calc(10px + 21 * (100vw - 320px) / 1120);
}
.icons * {
  width: 32px;
  transition: 0.1s ease-in;
}
.icons *:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.1s ease-in;
}

.copyright {
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 700;
  padding-right: calc(15px + 145 * (100vw - 320px) / 1120);
}

/*# sourceMappingURL=main.css.map */
