/*
font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
 */
body {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  background-color: transparent;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
}

.none {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__icon {
  padding: calc(15px + 11 * (100vw - 320px) / 1120) 0 calc(15px + 11 * (100vw - 320px) / 1120) calc(15px + 75 * (100vw - 320px) / 1120);
}
.header__icon img {
  width: calc(144px + 62 * (100vw - 320px) / 1120);
}

.nav {
  /*  padding: rem(63) 0;*/
  padding: calc(15px + 48 * (100vw - 320px) / 1120) 0;
  display: flex;
  align-items: center;
}

.nav__navbar {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #252B42;
}
.nav__navbar li {
  /*    padding: 0 rem(52);*/
  padding: 0 calc(15px + 37 * (100vw - 320px) / 1120);
}
.nav__navbar li a:focus {
  color: #FA4A0C;
  outline: none;
}

.welcome {
  height: 618px;
}

.welcome__img-container {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/welcome/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome__container {
  color: #fff;
  text-align: center;
  padding: calc(25px + 48 * (100vw - 320px) / 1120) calc(15px + 236 * (100vw - 320px) / 1120);
}

.welcome__text-food_app {
  font-weight: 700;
  color: #F6F6F6;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 7px;
}

.welcome__text-heading {
  font-family: "Poppins", sans-serif;
  line-height: calc(50px + 30 * (100vw - 320px) / 1120);
  font-weight: 700;
  font-size: calc(35px + 23 * (100vw - 320px) / 1120);
}

.welcome__text-download_info {
  line-height: 38px;
  font-size: 24px;
  padding-top: 17px;
  color: #F6F6F6;
  font-weight: 500;
}

.welcome__buttons {
  padding-top: calc(15px + 39 * (100vw - 320px) / 1120);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  gap: calc(14px + 20 * (100vw - 320px) / 1120);
  justify-content: center;
  position: relative;
  left: 50px;
}
@media screen and (max-width: 768px) {
  .welcome__buttons {
    left: 0;
  }
}

.welcome__button-container button {
  color: inherit;
  cursor: pointer;
  padding: 16px 58px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
}
.welcome__button-container:first-child {
  text-align: end;
}
@media screen and (max-width: 768px) {
  .welcome__button-container:first-child {
    text-align: center;
  }
}
.welcome__button-container:last-child {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .welcome__button-container:last-child {
    text-align: center;
  }
}

.welcome__buttons-playstore {
  background-color: #FA4A0C;
  box-shadow: 0 10px 30px rgba(183, 50, 39, 0.2);
  border: none;
}

.welcome__buttons-appstore {
  outline: 1px solid white;
  background-color: transparent;
  border: none;
}

.mobile-images {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #E4E4E4;
  max-width: 884px;
  padding-bottom: calc(30px + 30 * (100vw - 320px) / 1120);
}

.mobile-images__orange-photo {
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
  position: relative;
  bottom: 104px;
  left: 35px;
  z-index: 3;
}

.mobile-images__white-photo {
  position: relative;
  bottom: 50px;
}

/*# sourceMappingURL=main.css.map */
