
.header {
  display: flex;
  justify-content: space-between;
}

.header__icon {
  padding: adaptive-value-func(26, 15) 0 adaptive-value-func(26, 15) adaptive-value-func(90, 15);

  img {
    width: adaptive-value-func(206, 144);
  }
}

.nav {
/*  padding: rem(63) 0;*/
  padding: adaptive-value-func(63, 15) 0;
  display: flex;
  align-items: center;
}

.nav__navbar {
  display: flex;
  align-items: center;
  font-weight: $font-weight-semi-bold;
  color: $color-heading;

  li {
/*    padding: 0 rem(52);*/
  padding: 0 adaptive-value-func(52, 15);

  }

li a:focus {
  color: $color-accent;
  outline: none;
  }
}