.welcome {
  height: 618px;
}


.welcome__img-container {
  height: 100%;
  background-image:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/welcome/background-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome__container {
  color: $white;
  text-align: center;
  padding: adaptive-value-func(73, 25) adaptive-value-func(251, 15);
}

.welcome__text {
}

.welcome__text-food_app {
  font-weight: $font-weight-bold;
  color: $color-secondary-white;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 7px;
}

.welcome__text-heading {
  font-family: $font-secondary;
  line-height: adaptive-value-func(80, 50);
  font-weight: $font-weight-bold;
  font-size: adaptive-value-func(58, 35);
}

.welcome__text-download_info {
  line-height: 38px;
  font-size: 24px;
  padding-top: 17px;
  color: $color-secondary-white;
  font-weight: 500;
}

.welcome__buttons {

  padding-top: adaptive-value-func(54, 15);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
  gap: adaptive-value-func(34, 14);
  justify-content: center;
  position: relative;
  left: 50px;

  @include mediaTablet {
    left: 0;
  }
}

.welcome__button-container {

  button {
    color: inherit;
    cursor: pointer;
    padding: 16px 58px;
    border-radius: 30px;
    font-weight: $font-weight-bold;
    font-size: 24px;
  }

  &:first-child {
    text-align: end;

    @include mediaTablet {
      text-align: center;
    }
  }

  &:last-child {
    text-align: start;

    @include mediaTablet {
      text-align: center;
    }
  }
}

.welcome__buttons-playstore {
  background-color: $color-accent;
  box-shadow: 0 10px 30px rgba(183, 50, 39, 0.2);
  border: none;

}

.welcome__buttons-appstore {
  outline: 1px solid white;
  background-color: transparent;
  border: none;
}

.mobile-images {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #E4E4E4;
  max-width: 884px;
  padding-bottom: adaptive-value-func(60, 30);
}

.mobile-images__orange-photo {
  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
  position: relative;
  bottom: 104px;
  left: 35px;
  z-index: 3;
}

.mobile-images__white-photo {
  position: relative;
  bottom: 50px;
}
