
@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mediaPhone {
  @media screen and (max-width: $phone) {
    @content;
  }
}

$maxWidth: 1440;
$maxWidthContainer: 1170;

@mixin adaptive-value($property, $startSize, $minSize, $type: 0) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
    }
  } @else if $type==2 {
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

@function adaptive-value-func($startSize, $minSize) {
  $addSize: $startSize - $minSize;

  $result: calc(#{$minSize + px} + $addSize * (calc(100vw - 320px)) / calc($maxWidth - 320));

  @return $result;
}

@function rem($pxval, $base: 16) {
  @return ($pxval / $base) * 1rem;
}