/*
font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
 */

// Font size


// Fonts

$font-main: "Montserrat", sans-serif;
$font-secondary: "Poppins", sans-serif;


// Font Weights

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

// Colors
$color-heading: #252B42;
$color-desc: #737373;
$white: #fff;
$color-secondary-white: #F6F6F6;
$color-accent: #FA4A0C;


//Media

$tablet: 768px;
$phone: 450px;
